[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
flask-wtf = "*"
flask-sqlalchemy = "*"
flask-bcrypt = "*"

[dev-packages]
black = "*"
flake8 = "*"
isort = "*"

[scripts]
run = "python run.py"
