[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
flask = "*"
flask-wtf = "*"
flask-sqlalchemy = "*"
flask-bcrypt = "*"
flask-login = "*"
flask-mail = "*"

[dev-packages]
black = "*"
flake8 = "*"
isort = "*"
pre-commit = "*"

[scripts]
run = "python run.py"
format = "bash scripts.bash"
