{% extends "base.html" %}
{%block title%}MyProfile{%endblock%}
{% block head %}
  <link rel="stylesheet" href="{{url_for('static', filename='css/account.css')}}">
{% endblock head %}

{% block content %}
  <div class="user-dashboard">
    <div class="ud-left">
      <div class="ud-profile">
        <div class="ud-prof-pic">
          <img src="{{ url_for('static', filename='img/' + current_user.image_file) }}" class="profilepic">
          <div class="ud-prof-text">
            <h1>{{ current_user.username }}</h1>
            <span>{{ current_user.email }}</span>
          </div>
        </div>
        <hr>
        <div class="ud-settings">
          <a href="#"><i class="fa-solid fa-user-pen"></i>Edit Profile</a>
          <a href="#"><i class="fa-solid fa-cart-shopping"></i>Bought Services</a>
          <a href="/verify-user/"><i class="fas fa-user-check"></i>Verify Account</a>
          <a href="{{ url_for('users.settings') }}"><i class="fas fa-cog"></i>Settings</a>
          <a href="{{ url_for('users.logout') }}"><i class="fas fa-sign-out-alt"></i>Logout</a>
        </div>
      </div>
    </div>
    
    <div class="ud-right">
      {% block right%}
      {% endblock %}
    </div>
    
    
  </div>
{% endblock content %}
