{% extends "base.html" %}
{% block title %}MyProfile{% endblock %}
{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/account.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/account2.css') }}">
{% endblock head %}

{% block content %}
<div class="UserDashboard">
    <div class="UserProfile">
        <div class="prof">
            <img src="{{ url_for('static', filename='img/' + current_user.image_file) }}" class="profilepic">
            <div class="userInfo">
                <h2>{{ current_user.username }}</h2>
                <p>{{ current_user.email }}</p>
            </div>
        </div>
        
        <div class="verify">
            {% if not current_user.has_role('verified') %}
                <form method="POST" action="">
                    <div class="form-element temp">
                        {{ resend_email_button_form.submit(id="verify", class="form-submit ver") }}
                    </div>
                </form>
            {% endif %}
        </div>
    </div>
    <div class="dashContainer">
        <div class="options">
            <div class="main-opt opt">
                <a href="#edit"><i class="fa-solid fa-user-pen"></i>Edit Profile</a>
                <a href="#theme"><i class="fa-solid fa-paintbrush"></i>Themes</a>
            </div>
            <hr>
            <div class="serv-opt opt">
                <p>Services</p>
                <a href="#bought"><i class="fa-solid fa-cart-shopping"></i>Bought Services</a>
                <a href="#transac"><i class="fa-solid fa-file-invoice"></i>Transactions</a>
            </div>
        </div>
        <div class="content">
            <div class="editProfile" id="edit">
                <h2>Edit Profile</h2>
                <hr>
                <div class="user-data">
                    <form method="POST" action="">
                        {{ update_account_form.hidden_tag() }}
                
                        <div class="form-element">
                            <label for="username"><b>Username</b></label>
                            {{ update_account_form.username(class="form-input", id="username", value=current_user.username) }}
                            {% for error in update_account_form.username.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                
                        <div class="form-element">
                            <label for="email"><b>Email</b></label>
                            {{ update_account_form.email(class="form-input", id="emaill", value=current_user.email) }}
                            {% for error in update_account_form.email.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                
                        <div class="form-element">
                            {{ update_account_form.submit(class="form-submit", placeholder="SUBMIT") }}
                        </div>
                    </form>
                
                    
                </div>
            </div>
            
            <div class="themeWeb" id="theme">
                <h2>Themes</h2>
                <hr>
                <div class="themeContent">
                    <ul>
                        <li>1</li>
                        <li>2</li>
                        <li>3</li>
                    </ul>
                </div>
            </div>
            
            <div class="ServBought" id="bought">
                <h2>Bought Services</h2>
                <hr>
                <div class="boughtContent">
                    <div class="boughtList">
                        <div class="item">
                            <div class="item-left">
                                <h2>Website</h2><!-- name of what service bought -->
                                <p class="">Jan. 43, 3434</p><!-- date when the service was bought -->
                            </div>
                            <div class="item-right">
                                <div class="status">
                                    <!-- if status == done -->
                                    <p class="status-text">Done</p>
                                    <!--else -->
                                    <!-- <p>Pending</p> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="ServTransactions" id="transac">
                <h2>Transactions</h2>
                <hr>
                <div class="transacContent">
                    <ul>
                        <li>1</li>
                        <li>2</li>
                        <li>3</li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="takeSpace">
            <!-- dunno what to do with extra space -->
        </div>
    </div>
</div>
{% endblock content %}
