<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Yametech</title>
    <script
      src="https://kit.fontawesome.com/03853e84a6.js"
      crossorigin="anonymous"
    ></script>
    <script src="{{ url_for('static', filename='js/base.js') }}" defer></script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/base.css') }}" />
    {% block head %} {% endblock %}
  </head>
  <body>
    <!-- Nav xection -->
    <nav class="navbar">
      <div class="container">
        <div class="logo">YameTech</div>

        <div class="burgir">
          <i class="fas fa-bars"></i>
        </div>

        <div class="menu">
          
          <div class="userAcc_menu2">
            <img src="{{ url_for('static', filename='img/default.jpeg') }}" class="profilepic">
            <h3>UsernameHERE<br><span>email@emailHERE,com</span></h3>
          </div>
          
          <a href="/home/">Home</a>
          <a href="/abouts/">About</a>
          <a href="/projects/">Projects</a>
          {% if current_user.is_authenticated %}
            <a href="#"><i class="fas fa-user"></i>My Profile</a>
            <a href="#"><i class="fas fa-cog"></i>Settings</a></li>
            <a href="/logout/"><i class="fas fa-sign-out-alt"></i>Logout</a>
          {% else %}
            <a href="/login/"><i class="fas fa-sign-in-alt"></i>Login</a>
            <a href="/register/"><i class="fas fa-sign-in-alt"></i>Register</a>
          {% endif %}
          
          <a href="/services/" id="reg">Try our Services</a>
        </div>

        <div class="userAcc_settings">
          <div class="userAcc_toggler" onclick="UserAccToggle();">
            <i class="fas fa-user fa-lg"></i>
          </div>
          <div class="userAcc_menu">
            {% if current_user.is_authenticated %}
              <img src="{{ url_for('static', filename='img/' + current_user.image_file) }}" class="profilepic">
              <h3>{{ current_user.username }}<br><span>{{ current_user.email }}</span></h3>
            {% endif %}
            <ul>
              {% if current_user.is_authenticated %}
                <li><a href="#"><i class="fas fa-user"></i>My Profile</a></li>
                <li><a href="#"><i class="fas fa-cog"></i>Settings</a></li>
                <li><a href="/logout/"><i class="fas fa-sign-out-alt"></i>Logout</a></li>
              {% else %}
                <li><h3>You're not logged in</h3></li>
                <li><a href="/login/"><i class="fas fa-sign-in-alt"></i>Login</a></li>
                <li><a href="/register/"><i class="fas fa-sign-in-alt"></i>Register</a></li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </nav>
    



    <!-- end nav section -->

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <div class="flash-msg" role="alert">
            <p>{{ message }}</p>
            <button onclick="FlashDismiss();"><img src="{{ url_for ('static', filename="img/icons/close.png")}}"></button>
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
  {% block content %} {% endblock content %}
  
  <footer>
    <p>Contact Informations:<br>
      <!-- ul , l etc i need to add-->
      <a href="mailto:hege@example.com">hege@example.com</a>
      <a href="facebook.com">
    </p>
  </footer>
  
  <script>
    function UserAccToggle() {
      const toggler = document.querySelector('.userAcc_menu');
      toggler.classList.toggle('active')
    }
    
    function FlashDismiss() {
      const toggler = document.querySelector('.flash-msg');
      toggler.classList.toggle('disappear')
    }
  </script>
  </body>
</html>
