<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>YameTech - {% block title%}{%endblock%}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script
      src="https://kit.fontawesome.com/03853e84a6.js"
      crossorigin="anonymous"
    ></script>
    <script src="{{ url_for('static', filename='js/base.js') }}" defer></script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/base.css') }}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    {% block head %} {% endblock %}
  </head>
  <body>
    <!-- Nav xection -->
    
    <header>
      <nav class="navbar">
        <div class="container">
          <div class="logo">YameTech</div>

          <div class="burgir">
            <i class="fas fa-bars"></i>
          </div>

          <div class="menu">
            <div class="userAcc_menu2">
              <div class="profile-name">
                {% if current_user.is_authenticated %}
                  <img src="{{ url_for('static', filename='img/' + current_user.image_file) }}" class="profilepic">
                  <h3>{{ current_user.username }}<br><span>{{ current_user.email }}</span></h3>
                {% endif %}
              </div>
              <div class="user_options">
                {% if current_user.is_authenticated %}
                  <li><a href="{{ url_for('users.account', id=current_user.id) }}"><i class="fas fa-user"></i>My Profile</a></li>
                  <li><a href="{{ url_for('users.settings') }}"><i class="fas fa-cog"></i>Settings</a></li>
                  <li><a href="{{ url_for('users.logout') }}"><i class="fas fa-sign-out-alt"></i>Logout</a></li>
                {% else %}
                  <li><a href="{{ url_for('users.login') }}"><i class="fas fa-sign-in-alt"></i>Login</a></li>
                  <li><a href="{{ url_for('users.register') }}"><i class="fas fa-sign-in-alt"></i>Register</a></li>
                {% endif %}
              </div>
            </div>
            <a href="{{ url_for('main.home') }}">Home</a>
            <a href="{{ url_for('main.about') }}">About</a>
            <a href="{{ url_for('project.index') }}">Projects</a>
            <a href="{{ url_for('service.index') }}" id="reg">Try our Services</a>
          </div>
          <div class="userAcc_settings">
            <div class="userAcc_toggler" onclick="UserAccToggle();">
              <i class="fas fa-user fa-lg"></i>
            </div>
            <div class="userAcc_menu">
              {% if current_user.is_authenticated %}
                <div class="userr">
                  <img src="{{ url_for('static', filename='img/' + current_user.image_file) }}" class="profilepic">
                  <h3>{{ current_user.username }}<br><span>{{ current_user.email }}</span></h3>
                </div>
              {% endif %}
              <ul>
                {% if current_user.is_authenticated %}
                  <li><a href="{{ url_for('users.account') }}"><i class="fas fa-user"></i>My Profile</a></li>
                  <li><a href="{{ url_for('users.logout') }}"><i class="fas fa-sign-out-alt"></i>Logout</a></li>
                {% else %}
                  <h3>You're not logged in</h3>
                  <li><a href="{{ url_for('users.login') }}"><i class="fas fa-sign-in-alt"></i>Login</a></li>
                  <li><a href="{{ url_for('users.register') }}"><i class="fas fa-sign-in-alt"></i>Register</a></li>
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <!-- end nav section -->

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <div class="flash-msg" role="alert">
            <p>{{ message }}</p>
            <button onclick="FlashDismiss();"><img src="{{ url_for ('static', filename='img/icons/close.png')}}"></button>
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
  {% block content %} {% endblock content %}



  <script>
    function UserAccToggle() {
      const toggler = document.querySelector('.userAcc_menu');
      toggler.classList.toggle('active')
    }

    function FlashDismiss() {
      const toggler = document.querySelector('.flash-msg');
      toggler.classList.toggle('disappear')
    }

    window.addEventListener('scroll', function(){
      var nav = document.querySelector("nav");
      nav.classList.toggle('scroll', window.scrollY > 0)
    })
  </script>
  </body>
</html>
