{% extends "base.html" %}
{% block content %}
  <section id="showcase">
    <div class="center">
      <h1>Navigate in yametech</h1>
      <p>Yamete when you see techs!</p>
    </div>
  </section>
  <section id="boxes">
    <div class="container">
      <div class="center">
      {% for box in boxes %}
        <a href="{{ url_for(box.redirect) }}" class="box">
          <div class="center">
            <h2>{{ box.name }}</h2>
            <p>{{ box.description }}</p>
          </div>
        </a>
      {% endfor %}
      </div>
    </div>
  </section>
{% endblock content %}
