{% extends "base.html" %}
{% block content %}
  
  <style>
    
    form {
      display: flex;
      height: auto;
      width: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    
  </style>
  
  <!-- PLEASE FIX THIS -->
  <form method="POST" action="">
    {{ form.hidden_tag() }}

    <h1>email</h1>
    {% if form.email.errors %}
      {% for error in form.email.errors %}
          <span>{{ error }}</span>
      {% endfor %}
    {% else %}
        {{ form.email() }}
    {% endif %}

    <h1>password</h1>
    {% if form.password.errors %}
      {% for error in form.password.errors %}
          <span>{{ error }}</span>
      {% endfor %}
    {% else %}
        {{ form.password() }}
    {% endif %}

    <h1>submit</h1>
    {{ form.submit() }}
  </form>
{% endblock content %}
