{% extends 'base.html'%} 
{% block title %} New Service {% endblock %}
{% block head%}

{% endblock %}

{% block content %}

<div class="addService">
  <h2>Add Order</h2>
  <hr>
  <form method="POST" action="">
    {{ form.hidden_tag() }}

    <div class="form-element">
      <label for="title">Title</label>
      {{ form.title(class="form-input", id="title", placeholder="Enter title") }}
      {% for error in form.title.errors %}
      <span>{{ error }}</span>
      {% endfor %}
    </div>
  
    
    <div class="form-element">
      <label for="description">Description</label>
      {{ form.description(class="form-input", id="description", placeholder="Enter
      deezcription") }} {% for error in form.description.errors %}
      <span>{{ error }}</span>
      {% endfor %}
    </div>
  

    
  

    <div class="form-element">
      <label for="file">file</label>
      {{ form.file(class="form-input", id="file", placeholder="Enter
      file") }} {% for error in form.file.errors %}
      <span>{{ error }}</span>
      {% endfor %}
    </div>

    {{ form.submit() }}
  </form>


</div>


{% endblock %}
