{% extends 'base.html' %}
{%block title%}Projects{%endblock%}
{% block head %}
  <link rel="stylesheet" href="{{url_for('static', filename='css/projects.css')}}">
{% endblock head %}

{% block content %}

  <div class="projects-sec">
    
    {% if projects %}
      {% for project in projects %}
      <div>
        <h1>{{ project.title }}</h1>
        <img src="{{ url_for('static', filename="project/" + project.image_file) }}">
        <p>{{ project.description }}</p>
        <p>{{ project.github_url }}</p>
        <p>{{ project.site_url }}</p>
      </div>
      {% if current_user.is_authenticated and current_user.has_role("admin") %}
      <form action="{{ url_for('project.delete', project_id=project.id) }}" , method="POST">
        <input type="submit" value="delete">
      </form>
      <form action="{{ url_for('project.update', project_id=project.id) }}" , method="GET">
        <input type="submit" value="update">
      </form>
      {% endif %}
      {% endfor %}
    {% else %}
      <div class="not-available">
        <h1>We're still thinking what project to make.</h1>
      </div>
    {% endif %}
    {% if current_user.is_authenticated and current_user.has_role("admin") %}
    <form action="{{ url_for('project.new') }}" , method="GET">
      <input type="submit" value="New Service">
    </form>
    <br><br>
    {% endif %}
  </div>

{% endblock content %}
