{% extends "base.html" %}
{% block content %}
  <!-- PLEASE FIX THIS -->
  <form method="POST" action="">
    {{ form.hidden_tag() }}

    <h1>username</h1>
    {{ form.username.label() }}

    {% if form.username.errors %}
      {% for error in form.username.errors %}
          <span>{{ error }}</span>
      {% endfor %}
    {% else %}
        {{ form.username() }}
    {% endif %}

    <h1>email</h1>
    {{ form.email.label() }}

    {% if form.email.errors %}
      {% for error in form.email.errors %}
          <span>{{ error }}</span>
      {% endfor %}
    {% else %}
        {{ form.email() }}
    {% endif %}

    <h1>password</h1>
    {{ form.password.label() }}

    {% if form.password.errors %}
      {% for error in form.password.errors %}
          <span>{{ error }}</span>
      {% endfor %}
    {% else %}
        {{ form.password() }}
    {% endif %}

    <h1>confirm_password</h1>
    {{ form.confirm_password.label() }}

    {% if form.confirm_password.errors %}
      {% for error in form.confirm_password.errors %}
          <span>{{ error }}</span>
      {% endfor %}
    {% else %}
        {{ form.confirm_password() }}
    {% endif %}

    <h1>submit</h1>
    {{ form.submit() }}
  </form>
  <a href="{{ url_for("users.login") }}">Already have an account? Login now!</a>
{% endblock content %}
