{% extends "base.html" %}

{% block head %}
  <link rel="stylesheet" href="{{url_for('static', filename="css/forms.py")}}">
{% endblock head %}

{% block content %}
  <div class="logreg-form">
    <form method="POST" action="">
      {{ form.hidden_tag() }}
    
      <div class="form-element">
        <label for="passs">Password</label>
        
        {{ form.password(class="form-input", id="passs", placeholder="Enter password") }}
        {% for error in form.password.errors %}
        <span>{{ error }}</span>
        {% endfor %}
      </div>
    
      <div class="form-element">
        <label for="passs2">Confirm password</label>
        
        {{ form.confirm_password(class="form-input", id="passs2", placeholder="Enter password") }}
        {% for error in form.confirm_password.errors %}
        <span>{{ error }}</span>
        {% endfor %}
      </div>
    
      <div class="form-element">
        {{ form.recaptcha() }}
      </div>
    
      <div class="form-element">
        {{ form.submit(class="form-submit") }}
      </div>
      
      <div class="form-element">
        <a href="{{ url_for("users.register") }}">Don't have an account yet? Register Now!</a>
        <a href="{{ url_for("users.request_token") }}">Forgot your password?</a>
      </div>
    
    </form>
  </div>
{% endblock content %}
