{% extends 'base.html' %}
{%block title%}Services{%endblock%}
{% block head %}
  <link rel="stylesheet" href="{{url_for('static', filename="css/services.css")}}"/>
  <script src="{{ url_for('static', filename='js/web-create-form.js') }}" defer></script>
{% endblock head %}
{% block content %}

  <div class="zeTop">
    <h2 class="zetext">Order/Services:</h2>
    <hr />
  </div>

  <div class="container1">

    {% if current_user.is_authenticated and current_user.has_role("admin") %}
    <div class="newservice">
      <form action="{{ url_for('service.new') }}", method="GET">
        <input type="submit" value="New Service">
      </form>
      <br><br>
    </div>
    {% endif %}
    <div class="custom-shape-divider-bottom-1646554980">
      <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
      </svg>
    </div>
  </div>

  <div class="overlay"></div>

  <div class="modal" id="web-form">


  </div>

  <div class="orders">
  
    {% if services %}
      {% for service in services %}
        <div>
          {% if current_user.is_authenticated and current_user.has_role("admin") %}
            <form action="{{ url_for('service.delete', service_id=service.id) }}", method="POST">
              <input type="submit" value="delete">
            </form>
            <form action="{{ url_for('service.update', service_id=service.id) }}", method="GET">
              <input type="submit" value="update">
            </form>
          {% endif %}
          <h1>{{ service.title }}</h1>
          <img src="{{ url_for('static', filename="service/" + service.image_file) }}">
          <p>{{ service.description }}</p>
          <p>price: {{ service.price }}</p>
        </div>
      {% endfor %}
    {% else %}
     
    {% endif %}
  </div>

  {% if not current_user.is_authenticated %}
  <div class="notLoggedIn">
    Blank :(
  </div>
  {% endif %}



{% endblock content %}
