hr {
    margin-top: 7px;
    margin-bottom: 7px;
}

.UserDashboard {
    display: flex;
    flex-direction: column;
    gap: 25px;
    min-height: 100vh;
    width: 100%;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    color: white;
}

.UserProfile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    height: auto;
}

.UserProfile .prof {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.UserProfile .profilepic {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
  cursor: pointer;
}

.UserProfile .verify {
    padding-right: 30px;
}

.dashContainer {
    display: flex;
    height: 100vh;
    width: 100%;
    gap: 30px;
}

.dashContainer .options {
    width: 20%;
    display: flex;
    flex-direction: column;
}

.dashContainer .options .opt {
    display: flex;
    flex-direction: column;

}

.dashContainer .options .serv-opt {
    border-bottom: none;    
}

.dashContainer .options i {
    padding-right: 5px;
}

.dashContainer .options a {
    color: white;
    text-decoration: none;
    font-size: 0.9rem;
    width: 100%;
    padding: 3px 15px;
}

.dashContainer .options a:hover {
    border-left: 5px solid royalblue;
}
.dashContainer .content {
    width: 50%;
}
