@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: 0.2s linear;
}

body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(to right, #000d1a, #003366);
  margin-top: 60px;
}
footer {
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 2px;
  color: #f2f2f7;
  text-align: center;
  padding: 3px;
  background: linear-gradient(to right, #161616, #585858);
}
/* navbar start */

nav {
  position: absolute;
  top: 0;
  left: 0;
  background: none;
  width: 100%;
  color: white;
  z-index: 1000;
}

.container {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin: 0.5rem;
  margin-left: 3rem;
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 2px;
  cursor: none;
}

.burgir {
  position: absolute;
  top: 0.75rem;
  right: 1.5rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.5rem;
  cursor: pointer;
}

.burgir:hover {
  color: dimgray;
}

.menu {
  display: flex;

  padding: 0;
}

.menu a {
  font-size: 11px;
  text-decoration: none;
  color: white;
  padding: 9px 17px;
  margin: 0.2rem;
  border-radius: 25px;
  transition: 0.4s ease;
}

.menu a:hover,
.menu.is-active {
  background-color: #ddd;
  color: black;
}

#reg {
  border: 1px solid white;
  background: #ddd;
  color: black;
}

.menu #reg:hover {
  color: white;
  background: none;
}

.userAcc_settings {
  position: relative;
  display: flex;
}

.userAcc_settings .userAcc_toggler {
  margin-right: 3rem;
  cursor: pointer;
}

.userAcc_settings .profilepic {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.userAcc_settings .userAcc_menu {
  position: absolute;
  top: calc(100% + 0.5rem);
  right: 15px;
  padding: 10px 20px;
  border-radius: 10px;
  background: #ddd;
  color: black;
  width: 250px;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-10px);
  transition: transform 200ms 0 ease-in-out;
}

.userAcc_settings .userAcc_menu h3 {
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}

.userAcc_settings .userAcc_menu span {
  text-align: center;
  font-size: 10px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.userAcc_settings .userAcc_menu ul {
  list-style: none;
  margin: auto;
}

.userAcc_settings .userAcc_menu li {
  border-top: 1px solid gray;
  margin: 5px;
}

.userAcc_settings .userAcc_menu a {
  text-decoration: none;
  cursor: pointer;
  padding: 10px 20px;
  color: dimgray;
  transition: 0.2s ease;
}

.userAcc_settings .userAcc_menu i {
  margin-right: 7px;
}

.userAcc_settings .userAcc_menu a:hover {
  color: black;
  font-size: 20px;
  letter-spacing: 3px;
}

.userAcc_menu.active {
  pointer-events: auto;
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

@media (max-width: 768px) {
  nav {
    position: fixed;
    z-index: 1000;
    background: rgb(0, 13, 26, 0.8);
    border-bottom: 1px solid dimgray;
  }

  .container {
    flex-direction: column;
    align-items: flex-start;
  }

  .burgir {
    display: flex;
  }

  .menu {
    display: none;
    background-color: #000d1a;
    width: 100%;
    border-bottom: 3px solid white;
    text-align: center;
    z-index: 1000;
  }

  .logo {
    margin-left: 30px;
  }

  .menu a {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 0.5rem 1rem;
  }

  .menu.active {
    display: block;
  }
}

/* navbar end */
@media (min-width: 760px) {
  nav {
    z-index: 1000;
    background: rgb(0, 13, 26, 0.8);
    border-bottom: 1.5px solid dimgray;
  }

  .logo {
    margin: 0.5rem;
    margin-right: 30rem;
    font-family: "Roboto", sans-serif;
    font-size: 40px;
    font-weight: 590px;
    letter-spacing: 2px;
    cursor: text;
    color: white;
    position: relative;
    left: 20px;
  }

  .menu {
    position: absolute;
    display: flex;
    right: 150px;
    padding: 0;
  }

  .menu a {
    font-size: 15px;
    text-decoration: none;
    color: white;
    padding: 9px 17px;
    margin: 0.2rem;
    border-radius: 50px;
    transition: 0.4s ease;
  }
  .menu a:hover,
  .menu.is-active {
    background-color: #ddd;
    color: black;
  }
  /*
  .theService {
    display: flex;
  }

  .theService a {
    z-index: 1000;
    background-color: rgb(16, 15, 119);
    position: fixed;
    top: 500px;
    left: -25px;
    font-size: 20px;

    text-decoration: none;
    color: rgb(255, 255, 255);
    transform: rotate(90deg);
    padding: 10px 10px;
  }
  .theService a:hover,
  .theService {
    background-color: black;
    color: White;
  }*/
}
