@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to right, #000d1a, #003366);
  margin-top: 60px;
}

/* navbar start */

nav {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background:none;
  width: 100%;
  color: white;
}

.container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.logo {
  margin: .5rem;
  margin-right: 5rem;
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 2px;
  cursor: none;
}

.burgir {
  position: absolute;
  top: .75rem;
  right: 1.5rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.5rem;
  cursor: pointer;
}

.burgir:hover {
  color: dimgray;
}

.menu {
  display: flex;

  padding: 0;
}

.menu a {
  font-size: 11px;
  text-decoration: none;
  color: white;
  padding: 9px 17px;
  margin: .2rem;
  border-radius: 25px;
  transition: .4s ease;
}

.menu a:hover, .menu.is-active{
  background-color: #ddd;
  color: black;
}

#reg {
  border: 1px solid white;
  background: #DDD;
  color: black;
}

.menu #reg:hover {
  
  color: white;
  background: none;
}

/* login popup */

.login-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background: white;
  width: 40%;
}

.login-popup .form {
  margin: 15px;
}

.login-popup .closebtn {
  position: absolute;
  top: 20px;
  right: 30px;
  line-height: 15px;
  color: white;
  border-radius: 30px;
  background: gray;
  padding: 5px 5px;
  cursor: pointer;
}

.login-popup .form h2 {
  margin: 10px 0 20px;
  text-align: center;
}

.login-popup .form .form-element {
  margin: 15px 0px;
}

.login-popup .form 











@media (max-width: 768px) {
  nav {
    position: fixed;
    z-index: 1000;
    background: rgb(0, 13, 26, 0.8);
    border-bottom: 1px solid dimgray;
  }
  
  .container {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .burgir {
    display: flex;
  }
  
  .menu {
    display: none;
    background-color: #000d1a;
    width: 100%;
    border-bottom: 3px solid white;
    text-align: center;
    z-index: 1000;
  }
  
  .logo {
    margin-left: 30px;
  }
  
  .menu a {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: .5rem 1rem;
  }
  
  .menu.active {
    display: block;
  }
}

/* navbar end */

