@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap');

:root {
  --primary-color: #000d1a;
  --primary-theme: linear-gradient(to right, #000d1a, #003366);
  --primary-textColor: #FFFFFF;
  --light-theme: linear-gradient(to right, white, #DDD);
  --light-textColor: #000000;
  
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background: var(--primary-theme);
}

/* navbar start */

header {
  height: auto;
}

nav {
  position: relative;
  top: 0;
  left: 0;
  background:none;
  width: 100%;
  color: var(--primary-textColor);
  z-index: 1000;
}



.container {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin: .5rem;
  margin-left: 3rem;
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 2px;
  cursor: none;
}

.burgir {
  position: absolute;
  top: .75rem;
  right: 1.5rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.5rem;
  cursor: pointer;
}

.burgir:hover {
  color: dimgray;
}

.menu {
  display: flex;

  padding: 0;
}

.menu a {
  font-size: 11px;
  text-decoration: none;
  color: var(--primary-textColor);
  padding: 9px 17px;
  margin: .2rem;
  border-radius: 25px;
  transition: .4s ease;
}

.menu a:hover, .menu.is-active{
  background-color: #ddd;
  color: black;
}

#reg {
  border: 1px solid white;
  background: #DDD;
  color: var(--light-textColor);
}

.menu #reg:hover {
  
  color: var(--primary-textColor);
  background: none;
}

.menu .userAcc_menu2 {
  display: none;
}

.userAcc_settings {
  position: relative;
  display: flex;
}

.userAcc_settings .userAcc_toggler {
  margin-right: 3rem;
  cursor: pointer;
}

.userAcc_settings .profilepic {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.userAcc_settings .userAcc_menu {
  position: absolute;
  top: calc(100% + 0.5rem);
  right: 15px;
  padding: 10px 20px;
  border-radius: 10px;
  background: #ddd;
  color: var(--light-textColor);
  width: 250px;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  z-index: 1000;
  transform: translateY(-10px);
  transition: transform 200ms 0 ease-in-out;
}

.userAcc_settings .userAcc_menu h3 {
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}

.userAcc_settings .userAcc_menu span {
  text-align: center;
  font-size: 10px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.userAcc_settings .userAcc_menu ul {
  list-style: none;
  margin: auto;
}

.userAcc_settings .userAcc_menu li {
  border-top: 1px solid gray;
  margin: 5px;
}

.userAcc_settings .userAcc_menu a {
  text-decoration: none;
  cursor: pointer;
  padding: 10px 20px;
  color: dimgray;
  transition: .2s ease;
}

.userAcc_settings .userAcc_menu i {
  margin-right: 7px;
}

.userAcc_settings .userAcc_menu a:hover {
  color: black;
  font-size: 20px;
  letter-spacing: 3px;
}

.userAcc_menu.active {
  pointer-events: auto;
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.flash-msg {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff2cc;
  margin: 20px;
  border-radius: 5px; 
  padding: 9px 13px;
}


.flash-msg button {
  background: none;
  outline: none;
  border: none;
  color: black;
  padding: 9px 13px; 
  cursor: pointer;
}

.flash-msg button img {
  height: 11px;
  width: 11px;
}

.flash-msg.disappear {
  display: none;
}

footer {
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 2px;
  color: #f2f2f7;
  text-align: center;
  padding: 3px;
  background-color: #161616;
}

@media (min-width: 1000px) {
  .menu .logo {
    font-size:  35px;
    margin-left: 5rem;
  }
  
  .menu a {
    font-size: 25px;
  }
  
  .userAcc_settings {
    margin-right: 5rem;
  }
  
}

@media (max-width: 768px) {
  nav {
    position: fixed;
    z-index: 1000;
  }
  
  nav.clicked {
    background: #000d1a;
  }
  
  nav.scroll {
    background: var(--primary-color);
  }
  
  .container {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .burgir {
    display: flex;
  }
  
  .menu {
    display: none;
    background-color: #000d1a;
    width: 100%;
    border-bottom: 3px solid white;
    text-align: center;
    z-index: 1000;
  }
  
  .logo {
    margin-left: 30px;
  }
  
  .menu a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    margin: 10px;
    padding: .5rem 1rem;
  }
  
  .menu i {
    margin-right: 7px;
  }
  
  .userAcc_menu2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin: 1rem;
  }
  
  .userAcc_menu2 .profile-name {
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }
  
  .user_options {
    display: flex;
    justify-content: center;
  }
  
  .userAcc_menu2 img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
  }
  
  .userAcc_menu2 h3 {
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    line-height: 0.8;
  }
  
  .userAcc_menu2 span {
    font-size: 15px;
    cursor: pointer;
  }
  
  .userAcc_settings {
    display: none;
  }
  
  .userAcc_menu2.active {
    display: flex;
  }
  
  .menu.active {
    display: flex;
    flex-direction: column;
  }
}

/* navbar end */

