/* start edituser */

html {
  scroll-behavior: smooth;
}

.editProfile {
  padding: 20px;
  height: 100%;
  color: black;
}

.editProfile h2 {
  position: relative;
  font-size: 1.5rem;
  letter-spacing: 2px;
  color: white;
  margin-left: 1rem;
  background: transparent;
}

.editProfile h2:before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  background-color: dimgray;
}

.user-data {
  margin: 1px;
  padding: 20px;
  height: 90%;
  width: 100%;
  border-radius: 20px;
  background-color: #DDD;
}

/* emd edituser */

/* bought servr */

.BoughtServ {
  height: 100%;
}
