.logreg-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ddd;
  border-radius: 30px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
}


.logreg-form h2 {
  text-align: center;
  margin: 10px 0px 20px;
  letter-spacing: 3px;
  font-weight: 600;
}

.logreg-form form {
 margin: 20px; 
}

.logreg-form .form-element {
  margin-top: 10px;
}

.logreg-form .form-input {
  display: block;
  margin-top: 5px;
  width: 100%;
  outline: none;
  border: 1px solid #aaa;
  border-radius: 20px;
  padding: 10px 20px;
}

.logreg-form #remem {
  margin-right: 5px;
}

.logreg-form .form-submit {
  font-weight: 600;
  outline: none;
  width: 100%;
  border-radius: 20px;
  padding: 10px 20px;
  border: 1px solid black;
  background: #000d1a;
  color: white;
  cursor: pointer;
  transition: .4s;
}

.logreg-form .form-submit:hover {
  background: dimgray;
}

.logreg-form a {
  display: block;
  font-size: 15px;
  color: #000d1a;
  text-align: center;
}
