.form-container {
  padding: 50px 300px;
  opacity: 0;
  animation: form-onload;
  animation-duration: 500ms;
  animation-delay: 200ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.logreg-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #ddd;
  border-radius: 30px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
  border: 1px solid white;
}


.logreg-form h2 {
  text-align: center;
  margin: 20px 0px 5px;
  letter-spacing: 3px;
  font-weight: 600;
}

.logreg-form form {
 margin: 20px; 
}

.logreg-form .form-element {
  margin-top: 10px;
  transform: scale(0);
  animation: formelement-load;
  animation-duration: 300ms;
  animation-delay: 200ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

.logreg-form .form-input {
  display: block;
  margin-top: 5px;
  width: 100%;
  outline: none;
  border: 1px solid #aaa;
  border-radius: 20px;
  padding: 10px 20px;
}

.logreg-form #remem {
  margin-right: 5px;
}

.logreg-form .form-submit {
  font-weight: 600;
  outline: none;
  width: 100%;
  border-radius: 20px;
  padding: 10px 20px;
  border: 1px solid black;
  background: #000d1a;
  color: white;
  cursor: pointer;
  transition: .4s;
}

.logreg-form .form-submit:hover {
  background: dimgray;
}

.logreg-form a {
  display: block;
  font-size: 15px;
  color: #000d1a;
  text-align: center;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .form-container {
    padding: 20px 30px;
  }
}

@keyframes formelement-load {
  0% {
    transform: scale(0);
  }
  
  100% {
    transform: scale(1);
  }
}

@keyframes form-onload {
  0% {
    opacity: 0;
    transform: translateY(-20px)
  }
  
  100% {
    opacity: 1;
    transform: translateY(0)
  }
}
