a {
  text-decoration: none;
}

/* first section */

.home-sec {
  display: flex;
  gap: 50px;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: none;
  z-index: 1;
  min-height: 100vh;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  padding: 30px;
  transform: scale(0);
  animation: intro-load;
  animation-duration: 600ms;
  animation-delay: 300ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.intro h1 {
  font-size: 33px;
  color: white;
}
.intro p {
  color: white;
  font-size: 25px;
}

.intro a {
  background: #ddd;
  color: black;
  border-radius: 30px;
  padding: 9px 13px;
  cursor: pointer;
  font-weight: 600;
  margin-top: 10px;
}

.intro a:hover {
  color: blue;
}

.web-pic {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
}

.web-pic img {
  align-items: center;
  justify-content: center;
  height: min(300px, 200px);
  width: min(300px, 200px);
  transform: scale(0);
  animation: homepic-load;
  animation-duration: 600ms;
  animation-delay: 300ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.custom-shape-divider-bottom-1642833130 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1642833130 svg {
  position: relative;
  display: block;
  width: calc(127% + 1.3px);
  height: 54px;
}

.custom-shape-divider-bottom-1642833130 .shape-fill {
  fill: #dddddd;
}
/* end first section */

/* second section */

.projectss {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: auto;
  background: #dddddd;
  padding: 10px;
}

.projectss h2 {
  font-size: 1rem;
}

.projectss img {
  height: 200px;
  width: 200px;
}

.projlist {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 3rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.card {
  background-color: #ddd;
  border: 1px solid gray;
  display: block;
  width: 250px;
  height: 400px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.5);
}

.card img {
  background-size: cover;
  object-fit: cover;
  object-position: center;
  height: 200px;
  width: auto;
}

.card .proj-text {
  margin: 15px;
  padding: 10px;
  justify-content: center;
}

.card .proj-text h2 {
  letter-spacing: 3px;
}

.card .projbtn {
  display: flex;
  width: 100%;
  margin-top: 5px;
  align-items: center;
  justify-content: center;
}

.card .projbtn a {
  font-size: 18px;
  color: #000d1a;
}

.projlist .to-proj {
  width: auto;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.to-proj a {
  background: #003366;
  color: white;
  border-radius: 20px;
  padding: 9px 12px;
}

.projbtn a:hover {
  color: blue;
}

.to-proj a:hover {
  color: black;
  background: lightblue;
}

/* third section */

.contacts {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background: #00264d;
}

.custom-shape-divider-top-1642926837 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1642926837 svg {
  position: relative;
  display: block;
  width: calc(134% + 1.3px);
  height: 92px;
}

.custom-shape-divider-top-1642926837 .shape-fill {
  fill: #dddddd;
}

img {
  float: left;
  width: 300px;
  height: 300px;
  object-fit: cover;
}

/* keyframes */
@keyframes homepic-load {
  0% {
    opacity: 0;
    transform: translateY(-100px) scale(0);
  }

  100% {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}

@keyframes intro-load {
  0% {
    opacity: 0;
    transform: translateY(100px) scale(0);
  }

  100% {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}

@media (min-width: 1000px) {
  .home-sec {
    display: grid;
    grid-template-columns: 350px 300px;
    gap: 10px;
  }

  .projectss h2 {
    font-size: 2rem;
  }

  .web-pic {
    min-height: 350px;
    min-width: 350px;
  }

  .web-pic img {
    height: 350px;
    width: 350px;
  }
}

/*Footer*/
footer {
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 2px;
  color: #f2f2f7;
  text-align: center;
  padding: 3px;
  background: linear-gradient(to right, #161616, #585858);
  position: absolute;
  width: 100%;
}
