.zeTexts {
  text-align: Center;
  padding: 15px;
  letter-spacing: 1px;
  display: block;
  color: white;
  font-size: 20px;
  line-height: 100px;
  transition-duration: 0.2s;
  transition-property: font-size, font-weight, line-height, margin-top;
}
.zeTexts h1 {
  text-align: left;
  padding: 5px 5px 5px 5px;
}

/* service buttons */
.btns {
  position: relative;
  left: 221px;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 864px;
  height: 364px;
  font-size: 30px;
  color: rgb(255, 255, 255);
  background-color: black;
}
.btns :hover {
  cursor: pointer;
}
.btns ul {
  padding: 28px 16px;
  border-radius: 5px;
  list-style: none;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}
.theModal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
}
.modalContent {
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255);
  position: relative;
  justify-content: center;
}
footer {
  position: absolute;
  width: 100%;
  height: auto;
  bottom: 0;
}
