/* GLOBAL */
*{
  margin: 0;
  padding: 0;
  font-size: 25px;
}

body{
  font-family: Arial, Arial, Helvetica, sans-serif;
  background-color: whitesmoke;
}

.container{
  margin: auto;
  width: 80%;
  overflow: hidden;
}

.center{
  display: grid;
  place-items: center;
}


/* SHOWCASE SECTION */
#showcase{
  padding: 10px;
  margin: auto;
  background-color: grey;
  color: ghostwhite;
  border-bottom: 5px solid black;
  margin-bottom: 20px;
}

#showcase h1{
  font-size: 69px;
}

#showcase p{
  font-size: 35px;;
}


/* BOXES SECTION */
#boxes .box{
  border: 3px solid grey;
  border-radius: 6.9px;
  box-sizing: border-box;
  padding: 15px;
  background-color: lightgray;
  color: black;
  display: block;
  width: 100%;
  margin: 6.9px;
  padding: 5%;
  text-decoration: none;
}
